@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin-top: 5px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 5vh;
    margin-right: 3vh;
    font-family: 'Inter', sans-serif;
}
.container{
    height: auto;
    
}
.navbar1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.twobutton{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 0px;
}
.travel{
    margin-left: -10px;
}
.logo{
    border-radius: 12px; 
    background-color: #FFE51F; 
    border-color: rgba(255, 255, 255, 0.4); 
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-left: -10px;
}
.logo img, .travel img{
    height: 20px;
    width: 25px;
    margin: 15px;
}
.travel{
    border-radius: 12px;
    background-color: #F0F0F0;
    border-color: rgba(255, 255, 255, 0.4); 
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    
}
.location{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
}
.location i{
    margin-right: -25px;
}
.search{
    border-radius: 12px;
    height: 40px;
    width: 275%;
    border: 1px solid #2EA1FF;
    margin-left: 10vh;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
i{
    margin-left: 10px;
}
input{
    font-size: 1rem;
    border: none;
    outline: none;
    width: 100%;
    margin-left: -20px;

}
#user{
    margin-right: 0;
    font-size: 15px;
}
.profilecart{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
}
.navbar2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}
.navbar3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
}
.navbar3 a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 500;
    margin-right: -20px;
    margin-left: -20px;
    margin-bottom: 15px;
}
.main{
    padding-top: 21vh;
}
.threecards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 14vh;
}
.card1 img, .card2 img, .card3 img{
    height: 220px;
    width: 115%;
    border-radius: 15px;
    margin-left: -30px;
}
.indemand{
    background-image: url(https://rukminim1.flixcart.com/www/3200/1060/promos/28/05/2026/63eea905-0f99-4151-a358-c3b94209a037.jpg?q=60);
    background-size: cover;
    background-position: top;
    height: 410px;
    width: 89%;
    border-radius: 15px;

    position: relative;
}
.indemandcards{
    background-color: white;
    border-radius: 12px;
    width: 98.5%;
    height: 79%;

    position: absolute;
    top:13%;
    left: -30px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.idcard1, .idcard2, .idcard3{
    background-color: #F5F5F5;
    height: 90%;
    width: 45%;
    margin-top: -10px;
    margin-left: 22px;
    border-radius: 12px;
}
.idcd1img1, .idcd2img2, .idcd3img3{
    margin-left: -20px;
    height: 100%;
    width: 100%;
    border-radius: 12px;
}